<?xml version="1.0" encoding="UTF-8" standalone="no"?><config>
    <crawling>
		<proxy>

		</proxy>
	</crawling>
	<storage>
		<import-and-export>
			<default-encoding>utf-8</default-encoding>
			<default-filename>//datetime//</default-filename>
			<default-export-dir>//default-save-path//</default-export-dir>
			<operation-for-filename-conflict>auto-rename</operation-for-filename-conflict>
		</import-and-export>
		<backup-and-restore>

		</backup-and-restore>
	</storage>
</config>